body {margin-left: 55px;font-family:Roboto}
/*Configuração do menu do acesso funcionário*/
.bar1, .bar2, .bar3{width: 25px;height: 3.6px;background-color: #fff; margin: 6px 0; transition: 0.4s;}

/*Box do menu lateral*/
#menu-lateral-funcionario {-moz-transition: all 0.5s ease;-webkit-transition: all 0.5s ease;-o-transition: all 0.5s ease;
transition: all 0.5s ease; font-size: 1.1em; background: rgb(42,42,42); height: 100vh; overflow: hidden; width: 260px;
    position: fixed; left: -210px; display: grid;   grid-template-columns: 260px; grid-template-rows: 1fr 9fr 1fr;
    grid-template-areas: 'abrirFechar' 'navegacoes' 'sair'
}

/*Toggle*/
.fecharMenu{grid-area: abrirFechar;background-color: rgb(255, 106, 0); padding:0px 15px;}
.fecharMenu h1{font-weight:500; font-size:1.1rem;padding:0px 10px; color:rgba(0,0,0,.7); margin-bottom:0}

/*Configurando as navegações em si*/
.accordion {background-color: transparent;color: white;cursor: pointer; padding: 18px; width: 100%; border: none;
    text-align: left;font-size: .94rem;font-weight:400;transition: 0.3s;}
    .active, .accordion:hover {background-color: #ccc;background-color: rgba(0,0,0,.3);box-shadow:rgba(150,150,150,.3) 0px 0px 3px}
.panel {padding: 0 18px;background-color: transparent;max-height: 0;overflow: hidden;transition: max-height 0.2s ease-out;}
    .panel li{list-style:none;padding:5px 0px;}
    .panel a{color: #fff;font-size: .94rem;}
#navegacao-funcionario {
    grid-area: navegacoes;
}
    #navegacao-funcionario li a:hover {text-decoration:none;color: rgb(255, 106, 0);transition: all 0.4s ease;}

/*Sair*/
.sair{grid-area:sair; color:white;padding:10px; }

/*Faz o menu "aparecer"*/
.aparecerMenu {overflow-y: scroll;-moz-transform: translate(210px, 0);-webkit-transform: translate(210px, 0);-o-transform: translate(210px, 0);
    transform: translate(210px, 0);padding-right: 0;}

/*Configuração de quando o menu estiver fechado*/
.bar-fechado {z-index: 10;position: fixed; left: 12px; top: 10px; cursor:pointer;}
.icon-func-fechado{z-index: 10;position: fixed; left: 12px; top: 73px; cursor:pointer;}
.icon-bus-fechado{z-index: 10;position: fixed; left: 12px; top: 137px; cursor:pointer;}
.icon-rota-fechado{z-index: 10;position: fixed; left: 12px; top: 198px; cursor:pointer;}
.icon-sair-fechado{z-index: 10;position: fixed; left: 12px; bottom: 18px; cursor:pointer;}
/*#menu-lateral-funcionario .box {
    list-style-type: none;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

#menu-lateral-funcionario h3 {
    display: inline-block;
    font-weight: bold;
    font-size: 1.6em;
    font-style: normal;
    padding-bottom: 0.2em;
    margin: 2em 0 2em 0.81em;
    color: rgb(255,255,255);
    border-bottom: 4px solid rgb(155,155,155);
}*/
.ata {
    z-index: 1000;
    content: url(/images/acesso.gif);
    font-size: 4em;
    color: white;
    position: fixed;
    left: 4px;
    top: 45px;
}
/*
    #lateral:hover:before, #lateral:focus:before {
        left: -10px
    }

    #lateral:hover, #lateral:focus, #lateral:active {
        
    }*/
.teste {
    overflow-y: scroll;
    -moz-transform: translate(210px, 0);
    -webkit-transform: translate(210px, 0);
    -o-transform: translate(210px, 0);
    transform: translate(210px, 0);
    padding-right: 0;
}

