
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="bg-light">
    <section class="perfil-cliente">
        <div class="box-dados-clientes">
            <h1 class="pb-0">Dados</h1>
            <hr style="width:90%;" />
            <form id="form-meu-perfil" class="p-2 pl-3">
                <div class="form-group">
                    <label for="nome" class="mb-0">Nome Completo</label>
                    <input type="text" class="design-input-perfil mt-0" id="nome">
                </div>
                <div class="form-group">
                    <label for="cpf" class="mb-0">CPF</label>
                    <input type="text" class="design-input-perfil mt-0" id="cpf">
                </div>
                <div class="form-group">
                    <label for="nascimento" class="mb-0">Data de Nascimento</label>
                    <input type="date" class="design-input-perfil mt-0" id="nascimento">
                </div>
            </form>
            <h1 class="pt-0 mt-0">Contato</h1>
            <hr style="width:90%;" />
            <form id="form-meu-perfil-contato" class="p-2 pl-3">
                <div class="d-flex align-items-baseline">
                    <div style="width:25px" class="m-2"><img src="~/images/tel-preto.gif" style="width:15px" /></div><input type="tel" class="design-input-perfil mt-0" id="telefone">
                </div>
                <div class="d-flex align-items-baseline">
                    <div style="width:25px" class="m-2"><img src="~/images/cel-preto.gif" style="width:12px" /></div><input type="tel" class="design-input-perfil mt-0" id="celular">
                </div>
                <div class="d-flex align-items-baseline">
                    <div style="width:25px" class="m-2"><img src="~/images/email-preto.gif" style="width:17px" /></div><input type="text" class="design-input-perfil mt-0" id="email">
                </div>
            </form>
        </div>
        <div class="pedidos-cliente">
            <h1>Pedidos</h1>
            <hr style="width:90%;" class="mt-0" />
            <p>Dê uma olhada nas passagens que você comprou</p>
        </div>
    </section>
</body>

